<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{reutilizables/master.html}">
<head>
<meta charset="utf-8">
<title>INICIO</title>
</head>
<body>
	<div layout:fragment="content">
		
		<div style="display: flex; justify-content: space-evenly; align-items: center;">
		<div style="display:inline-block;">
			<h1 style="color: blueviolet; font-weight: bold; font-size: 4em;">Bienvenido a mi E-Commerce</h1>
			<h3 style="color: black; font-size: 2.5em;">¡Disfruta de todos los productos de la tienda!</h3>
		</div>
		
		<div style="display:inline-block;vertical-align:top; margin-top: 50px;">
			<img src="/logo.png">
		</div>
		</div>
	</div>
	
</body>
</html>